@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.google-login div[role="button"],
.google-login div[role="button"] > *:first-child {
  border: none;
  box-shadow: none !important;
  background-color: transparent !important;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
